@model TestBiblioteca3.Models.Libro

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.disponible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.disponible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.categoria.cate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.nombre">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
