@model IEnumerable<TestBiblioteca3.Models.Libro>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.disponible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.disponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria.cate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.nombre">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.nombre">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.nombre">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
